<!DOCTYPE html>
<html ng-app="demo">
    <head>
        <h1>SAMPLE APPLICATION</h1>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
        <script data-require="angular-ui-bootstrap@0.3.0" data-semver="0.3.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/style.css" />
        <script type="text/javascript" src="/angular_script.js"></script>
    </head>
    <br>
    <body>
       <ng-view></ng-view>
    </body>
</html>